@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
  /* Prevent scroll on mobile */
  background-color: #0f172a;
  /* Fallback */
}

@layer utilities {
  .touch-none {
    touch-action: none;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
  /* Prevent pull-to-refresh on mobile */
}

#root {
  height: 100%;
  width: 100%;
}